extends /layouts/_base
//- ============================================================
block append variables
//- ============================================================
block append css
block append js
//- ============================================================
block content
  main.l-main.autopagerize_page_element(role='main')
    .l-main_container
      = t.b.__TagPage
      h2.tagged Posts tagged "#{t.Tag}"
      = t.b.TagPage__
      = t.b.__Posts
      article.post(class=`${t.TagsAsClasses} ${t.PostType}`)
        include /blocks/_text
        include /blocks/_photo
        include /blocks/_photoset
        include /blocks/_quote
        include /blocks/_link
        include /blocks/_chat
        include /blocks/_video
        include /blocks/_audio
        include /blocks/_answer
        // Content Source
        = t.b.__ContentSource
        .content-source
          a(href=`${t.SourceURL}`)
            = t.lang_Source
            | :
            = t.b.__SourceLogo
            img(src=`${t.BlackLogoURL}`, width=`${t.LogoWidth}`, height=`${t.LogoHeight}`, alt=`${t.SourceTitle}`)
            = t.b.SourceLogo__
            = t.b.__NoSourceLogo
            = t.SourceTitle
            = t.b.NoSourceLogo__
        = t.b.ContentSource__
        // 記事フッタ
        footer.entry-footer
          = t.b.__RebloggedFrom
          .rebloggedfrom
            span.meta-elements.reblog-parent-name
              | Reblogged from
              a(href=`${t.ReblogParentURL}`)
                img.favicon(src=`${t.ReblogParentPortraitURL_16}`)
                = t.ReblogParentName
            span.meta-elements.reblog-root-name
              | Originally posted by
              a(href=`${t.ReblogRootURL}`)
                img.favicon(src=`${t.ReblogRootPortraitURL_16}`)
                = t.ReblogRootName
          = t.b.RebloggedFrom__
          .meta.meta-footer
            span.meta-elements.timeago
              a(href=`${t.Permalink}`) #{t.TimeAgo}
            = t.b.__NoteCount
            span.meta-elements.notecount
              a(href=`${t.Permalink}`) #{t.NoteCount} Notes
            = t.b.NoteCount__
          = t.b.__Date
          .tumblr-controls
            ul.like-and-reblog-buttons
              li !{t.ReblogButton}
              li !{t.LikeButton}
          = t.b.Date__
          // パーマリンクだけソーシャルボタン出す
          = t.b.__PermalinkPage
          ul.social-buttons
            = t.b.__IfEnableTweetButton
            li.social-button
              a.twitter-share-button(href='https://twitter.com/share', data-lang='ja') ツイート
              script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            = t.b.IfEnableTweetButton__
            = t.b.__IfEnableLikeButton
            li.social-button
              .fb-like(data-send='false', data-layout='button_count', data-width='100', data-show-faces='false')
            = t.b.IfEnableLikeButton__
            = t.b.__IfEnablePlus1Button
            li.social-button
              .g-plusone(data-size='medium')
              script(type='text/javascript').
                window.___gcfg = {lang: 'ja'};
                (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            = t.b.IfEnablePlus1Button__
          = t.b.PermalinkPage__
          = t.b.__PostNotes
          h3.notecount-header #{t.NoteCount} Notes
          .notecontainer {PostNotes}
          = t.b.PostNotes__
      = t.b.Posts__

  // パーマリンクのページャ
  = t.b.__PermalinkPagination
  .pagenation.pagenation-permalink
    = t.b.__NextPost
    a.next(href=`${t.NextPost}`, rel='next') Newer Post
    = t.b.NextPost__
    = t.b.__PreviousPost
    a(href=`${t.PreviousPost}`) Older Post
    = t.b.PreviousPost__
  = t.b.PermalinkPagination__
  // ページごとのページャ
  = t.b.__Pagination
  .pagenation.pagenation-index
    = t.b.__PreviousPage
    a(href=`${t.PreviousPage}`) Prev
    = t.b.PreviousPage__
    = t.b.__JumpPagination_length5
    = t.b.__CurrentPage
    span.current-page #{t.PageNumber}
    = t.b.CurrentPage__
    = t.b.__JumpPage
    a.jump-page(href=`${t.URL}`) #{t.PageNumber}
    = t.b.JumpPage__
    = t.b.JumpPagination__
    = t.b.__NextPage
    a.next(href=`${t.NextPage}`, rel='next') Next
    = t.b.NextPage__
  = t.b.Pagination__
