header.o-postHeader
  .o-postHeader_tags
    = t.b.__HasTags
    i.fa.fa-fw.fa-tags
    = t.b.__Tags
    a(href=`${t.TagURL}` class='o-postHeader_tag') #{t.Tag}
    = t.b.Tags__
    = t.b.HasTags__
  .o-postHeader_date
    = t.b.__Date
    i.fa.fa-fw.fa-clock-o
    a(href=`${t.Permalink}`)
      time #{t.Year}-#{t.MonthNumberWithZero}-#{t.DayOfMonthWithZero}
      | （#{t.TimeAgo}）
    = t.b.Date__
